<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <menuitem id="res_partner_contacts_fondoda"
            name="Colaboradores"
            action="contacts.action_contacts"
            parent="contacts.res_partner_menu_contacts"
           />

        <menuitem id="prestamo_ordinario_menu_view" 
            name="Préstamo Ordinario" 
            action="fondoda.action_prestamo_window" 
            parent="contacts.res_partner_menu_contacts"/>
        
        <menuitem id="perstamo_extraordinario_menu_view"
            name="Préstamo Extraordinario"
            action="fondoda.action_prestamo_extra_window" 
            parent="contacts.res_partner_menu_contacts"/>

    </data>
</odoo>