///
/// This file regroups the variables that style odoo components.
/// They are available in every asset bundle.
///

// Font sizes
$o-root-font-size: 12px;
$o-font-size-base: 13rem * (1px / $o-root-font-size);
$o-line-height-base: 1.5; // This is BS default

// Colors
$eo : #E3EFFF;

$o-community-color: #0a0a0a; 
$o-enterprise-color: #875A7B;
$o-enterprise-primary-color: #e38411;

$o-brand-odoo: $o-community-color;
$o-brand-primary: #e38411;

$o-brand-lightsecondary: #e2e2e0;
$o-gray-100: #f8f9fa; // This is BS default

$o-main-color-muted: #a8a8a8;
$o-main-text-color: #4c4c4c;

$o-view-background-color: white;
$o-shadow-color: #303030;

$o-form-lightsecondary: #ccc;

$o-list-footer-bg-color: #eee;
$o-list-footer-font-weight: bold;

$o-tooltip-background-color: black;
$o-tooltip-color: white;
$o-tooltip-arrow-color: black;
$o-tooltip-text-color: #777777;
$o-tooltip-title-text-color: #4c4c4c;

.oe_button_box {
    &, & + .oe_avatar {
        + .oe_title {
            width: 400px;
        }
    }

    // TODO remove me in master (this rule is a copy of the one in the
    // bootstrap_review.scss file)
    + .alert {
        clear: both;
    }

    .oe_stat_button {
        &:hover {
            background-color: #e6e6e6;
        }
        .o_button_icon {
            color: rgb(207,97,97)
        }
    }
}